$fuentePrincipal: 'Droid Sans';
$colorSecundario: #FF4D32;
@mixin caja{
	text-align: left;
    font-family: 'Droid Sans';
    width: 41%;
    display: inline-block;
    margin: 0 15px 0 85px;
}

@mixin articulo{
	padding-bottom: 30px;
}

@mixin titulos{
	color: #FF4D32;
	font-family: 'Droid Sans';
	font-size: 21px;
	margin-bottom: 20px;

}

@mixin icono{
	font-size: 35px;
    color: grey;
    position: relative;
    right: 55px;
    top: 30px;
}

@import "_reset";

@import "_header";

@import "_section-2";

@import "_portfolio";
